<h1> <%= @player1_name %> vs. <%=@player2_name %> </h1>

<form action='/attack' method='get'>
  <input type='submit' value='Attack!'>
</form>

<h2> <%= $player2_name.name %>: <%= $player2_name.hit_points%> Hit points </h2>
